

<div class="container">
  <form class="mt-4">
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon" id="label-fasta-input">Fasta Input:</span>
        <input type="file" class="form-control" aria-label="fasta-input" aria-describedby="label-fasta-input" (change)="loadFasta($event)" required>
      </div>
      <div *ngIf="fasta">
        <small id="peptide-summary-rows" class="form-text text-muted">
          {{fasta.content.length}} peptides have been loaded.
        </small>
      </div>
      <div class="row mt-4">
        <div class="col-4">
          <label for="staticMGen">Static Modifications:</label>
          <select multiple class="form-control" id="staticMGen" *ngIf="staticMods|async; let Mods">
            <option *ngFor="let m of Mods" [value]="m">
              {{m.name}}
            </option>
          </select>
        </div>
        <div class="col-4">
          <label for="variableMGen">Non-Ytype Variable Modifications:</label>
          <select multiple class="form-control" id="variableMGen" *ngIf="variableMods|async; let Mods">
            <option *ngFor="let m of Mods" [value]="m">
              {{m.name}}
            </option>
          </select>
        </div>
        <div class="col-4">

          <label for="yMGen">Ytype Variable Modifications:</label>
          <select multiple class="form-control" id="yMGen" *ngIf="Ymods|async; let Mods">
            <option *ngFor="let m of Mods" [value]="m">
              {{m.name}} ({{m.Ytype}})
            </option>
          </select>
        </div>

      </div>

      <div *ngIf="fasta">
        <hr/>
        <ngb-accordion #acc="ngbAccordion" activeIds="sequence-sel">
          <ngb-panel *ngFor="let p of fasta.content" title="{{p.id}}" id="sequence-sel">
            <ng-template ngbPanelContent>
              <app-sequence-selector [protein]="p"></app-sequence-selector>
            </ng-template>
          </ngb-panel>
        </ngb-accordion>

      </div>

    </div>
  </form>
</div>



<ng-template #loading>
  <h6 class="card-subtitle mb-2 text-muted">Loading <i class="fa fa-circle-o-notch fa-spin"></i></h6>
</ng-template>

<ng-template #emptySelection>
  <div class="form-group col-md-4">
    <label for="staticModsEmpty">Selected Static mods:</label>
    <select multiple class="form-control" id="staticModsEmpty">
      <option>None</option>
    </select>
  </div>

</ng-template>
