<div class="container">
  <div class="card mt-4">
    <div class="card-body">
      <h4 class="card-title">Uniprot Parser</h4>
      <h6 class="card-subtitle mb-2 text-muted">A javascript based Uniprot parser utilizing Uniprot REST API.</h6>
      <hr class="my-4">
      <form #f="ngForm" (ngSubmit)="onSubmit(f)">
        <div class="form-group">
          <label for="uniprot-list">Uniprot Accession ID List:</label>
          <textarea class="form-control" id="uniprot-list" name="uniprot-list" [(ngModel)]="model.uniprotList" required row="3">
          </textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>

<div class="card result-card mt-4" [hidden]="!started">
  <div class="card-body">
    <h5 class="card-title">
      Result
    </h5>
    <h6 class="card-subtitle mb-2 text-primary" [hidden]="!processing">Processing <i class="fa fa-circle-o-notch fa-spin"></i></h6>
    <h6 class="card-subtitle mb-2 text-success" [hidden]="!finished">Finished <i class="fa fa-check-circle-o" aria-hidden="true"></i></h6>
    <div class="result-link" [hidden]="!finished" #resultElem>
      <ngb-tabset>
        <ngb-tab *ngFor="let link of downloadResults">
          <ng-template ngbTabTitle>{{link.jobName}} <span class="badge badge-primary">{{link.length}}</span></ng-template>
          <ng-template ngbTabContent>
            <p class="card-text text-center mt-4">
              <button class="btn btn-success btn-sm" (click)="fileDownloader(link.content, link.fileName)">
                <i class="fa fa-floppy-o" aria-hidden="true"></i> Save
              </button>
            </p>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>
  </div>
</div>
