<div class="container">
  <div class="card mt-4">
    <div class="card-body">
      <h4 class="card-title">Uniprot Parser</h4>
      <h6 class="card-subtitle mb-2 text-muted">A javascript based Uniprot parser utilizing Uniprot REST API.</h6>
      <hr class="my-4">
      <form #f="ngForm" (ngSubmit)="onSubmit(f)">
        <div class="form-group">
          <label for="uniprotList">Uniprot Accession ID List:</label>
          <textarea class="form-control" id="uniprotList" name="uniprotList" [(ngModel)]="model.uniprotList" required row="10">
          </textarea>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" name="goStats" [(ngModel)]="model.goStats">
            GOStats Association
          </label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>

<div class="card result-card mt-4" [hidden]="!started">
  <div class="card-body">
    <h5 class="card-title">
      Result
    </h5>
    <div *ngIf="status|async; else loading; let status">
      <div *ngIf="status===true; else loading">
        <h6 class="card-subtitle mb-2 text-success">Finished <i class="fa fa-check-circle-o" aria-hidden="true"></i></h6>
        <div class="row">
          Query finished on {{currentTime|date:'full'}}
        </div>
      </div>
    </div>
    <div class="result-link" *ngIf="result.length > 0">
      <ngb-tabset>
        <ngb-tab *ngFor="let link of result">
          <ng-template ngbTabTitle>{{link.jobName}} <span class="badge badge-primary">{{link.length}}</span></ng-template>
          <ng-template ngbTabContent>
            <p class="card-text text-center mt-4">
              <button class="btn btn-success btn-sm" (click)="fileDownloader(link.content, link.fileName)">
                <i class="fa fa-floppy-o" aria-hidden="true"></i> Save
              </button>
            </p>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>
  </div>
</div>

<ng-template #loading>
  <h6 class="card-subtitle mb-2 text-primary">Processing <i class="fa fa-circle-o-notch fa-spin"></i></h6>
</ng-template>
