<div class="container mt-4">
  <div class="form-group">
    <label for="FastaRaw">Sequences Input:</label>
    <textarea class="form-control" id="FastaRaw" name="FastaRaw" [(ngModel)]="fastaRaw" rows="10">
            </textarea>
  </div>
  <div class="form-row">
    <div class="form-group col-4">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <input type="checkbox" aria-label="Hightlight Color" [(ngModel)]="alignmentGapColor.highlight">
          </div>
        </div>
        <!--<div class="input-group-prepend">
          <div class="input-group-text">
            Highlight Alignment Gap Color
          </div>
        </div>-->
        <input type="text" class="form-control" aria-label="Highlight Color" [(ngModel)]="alignmentGapColor.color" placeholder="Highlight Alignment Gap Color">
      </div>
    </div>
    <div class="text-right col-8">
      <button class="btn btn-sm" (click)="getExampleAlignment()">Load example alignment</button>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-3">
      <label for="window">Windows</label>
      <input type="number" class="form-control" id="window" [(ngModel)]="windows" aria-describedby="window" placeholder="10">
    </div>
    <div class="form-group col-3">
      <label>Match Regex Pattern</label>
      <input type="text" class="form-control" aria-describedby="matchRegex" [(ngModel)]="matchPattern">
    </div>
    <div class="form-group col-3">
      <label>Features</label>
      <app-file-selector (file)="fileEvent($event)"></app-file-selector>
      <button type="button" class="btn btn-sm" (click)="getExampleFeatures()">Load example features</button>
    </div>
  </div>
  <div class="form-group">
    <button class="btn btn-primary" (click)="submit()">Visualize</button>
  </div>
  <div *ngIf="resultObserve|async; let resultObserve">
    <app-sequence-heatmap [scores]="resultObserve"></app-sequence-heatmap>
  </div>
</div>



