<div class="container">
  <div class="card mt-4">
    <div class="card-body">
      <h4 class="card-title">Publications</h4>
      <hr class="my-4">
      <h5 class="card-text">Book Publications</h5>
      <div *ngIf="book|async; else loading; let publication">
        <div *ngFor="let p of publication.data">
          <a class="card-text text-link" [href]="p.link">{{p.title}}</a>
          <p class="card-text text-muted">
            {{p.refFormat}}
          </p>
          <br>
        </div>
      </div>
      <hr class="my-4">
      <h5 class="card-text">Journal Publications</h5>
      <div *ngIf="publication|async; else loading; let publication">
        <div *ngFor="let p of publication.data">
          <a class="card-text text-link" [href]="p.link">{{p.title}}</a>
          <p class="card-text text-muted">
            {{p.refFormat}}
          </p>
          <br>
        </div>
      </div>
      <hr class="my-4">
      <h5 class="card-text">Conference Publications</h5>
      <div *ngIf="conference|async; else loading; let publication">
        <div *ngFor="let p of publication.data">
          <a class="card-text text-link" [href]="p.link">{{p.title}}</a>
          <p class="card-text text-muted">
            {{p.refFormat}}
          </p>
          <br>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #loading>
  <h6 class="card-subtitle mb-2 text-muted">Loading <i class="fa fa-circle-o-notch fa-spin"></i></h6>
</ng-template>
