<div class="container mt-4">
  <div class="card">
    <div class="card-body">
      <form [formGroup]="form">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="label-excel-input">Excel Input Files:</span>
          </div>
          <div class="custom-file">
            <input type="file" multiple class="custom-file-input" aria-label="excel-input" aria-describedby="label-excel-input" (change)="fileChange($event)" required>
            <label class="custom-file-label" for="label-excel-input">{{fileNames.join(",")||'Select File'}}</label>
          </div>
        </div>
        <div class="form-row">
          <div class="col-4">
            <label class="mt-2 mr-2" for="glycans">Targets:</label>
            <select multiple class="form-control" id="glycans" formControlName="glycans">
              <option value="H">
                High mannose
              </option>
              <option value="D">
                Deaminated
              </option>
              <option value="U">
                Unmodified
              </option>
            </select>
            <!--          <div class="form-group form-check form-check-inline">
                        <input type="checkbox" class="form-check-input" id="H" formControlName="H">
                        <label class="form-check-label" for="H">High mannose</label>
                      </div>
                      <div class="form-group form-check form-check-inline">
                        <input type="checkbox" class="form-check-input" id="D" formControlName="D">
                        <label class="form-check-label" for="D">Deaminated</label>
                      </div>
                      <div class="form-group form-check form-check-inline">
                        <input type="checkbox" class="form-check-input" id="U" formControlName="U">
                        <label class="form-check-label" for="U">Unmodified</label>
                      </div>-->
          </div>
          <div class="col-4">
            <label class="mt-2 mr-2" for="aggregation">Aggregation:</label>
            <select multiple class="form-control" id="aggregation" formControlName="aggregation">
              <option value="H">
                High mannose
              </option>
              <option value="D">
                Deaminated
              </option>
              <option value="U">
                Unmodified
              </option>
            </select>
            <!--<div class="form-group form-check form-check-inline">
              <input type="checkbox" class="form-check-input" id="Ha" formControlName="H">
              <label class="form-check-label" for="Ha">High mannose</label>
            </div>
            <div class="form-group form-check form-check-inline">
              <input type="checkbox" class="form-check-input" id="Da" formControlName="D">
              <label class="form-check-label" for="Da">Deaminated</label>
            </div>
            <div class="form-group form-check form-check-inline">
              <input type="checkbox" class="form-check-input" id="Ua" formControlName="U">
              <label class="form-check-label" for="Ua">Unmodified</label>
            </div>-->
          </div>
        </div>


        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" formControlName="separate-h" id="separate-h">
          <label class="form-check-label" for="separate-h">Dividing H into different glycoforms (Only work if there is a "Glycan compositions" column)</label>
        </div>



        <div *ngIf="fileNames.length>0">
          <div class="card mt-2">
            <h6 class="card-header">Auto Replicates and Conditions Parser</h6>
            <div class="card-body">
              <div class="row">
                <div class="form-group col-3">
                  <label for="rep-input">Replicates:</label>
                  <input type="text" formControlName="reps" class="form-control" id="rep-input">
                </div>
                <div class="form-group col-3">
                  <label for="cond-input">Conditions:</label>
                  <input type="text" formControlName="conds" class="form-control" id="cond-input">
                </div>
                <div class="form-group col-6">
                  <label for="target-input">Target Proteins:</label>
                  <input type="text" formControlName="targets" class="form-control" id="target-input">
                </div>
              </div>
              <button type="button" class="btn btn-primary" (click)="genValueMap()">Parse</button>
            </div>
          </div>
          <ul class="list-group">
            <li *ngFor="let name of fileNames" class="list-group-item mt-2">
              <h6>{{name}}</h6>
              <div class="row">
                <div class="form-group col-3">
                  <label for="{{name}}-rep">Replicate label:</label>
                  <input type="text" class="form-control" id="{{name}}-rep">
                </div>
                <div class="form-group col-3">
                  <label for="{{name}}-cond">Condition label:</label>
                  <input type="text" class="form-control" id="{{name}}-cond">
                </div>
                <div class="form-group col-6">
                  <label for="{{name}}-target">Target proteins:</label>
                  <input type="text" class="form-control" id="{{name}}-target">
                </div>
              </div>
            </li>
          </ul>
          <div class="card mt-2">
            <h6 class="card-header">Upload Reference Sequences</h6>
            <div class="card-body">
              <div class="input-group mt-2">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="label-fasta-input">Fasta Input Files:</span>
                </div>
                <div class="custom-file">
                  <input type="file" class="custom-file-input" aria-label="fasta-input" aria-describedby="label-fasta-input" (change)="loadFasta($event)" required>
                  <label class="custom-file-label" for="label-fasta-input">{{inputFileLabel(seq)}}</label>
                </div>
              </div>
              <div class="input-group mt-2">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="label-alignment-input">Alignment Input Files (Optional):</span>
                </div>
                <div class="custom-file">
                  <input type="file" class="custom-file-input" aria-label="alignment-input" aria-describedby="label-alignment-input" (change)="loadAlignment($event)" required>
                  <label class="custom-file-label" for="label-alignment-input">{{inputFileLabel(alignment)}}</label>
                </div>
              </div>
            </div>
          </div>
          <div class="card mt-2">
            <h6 class="card-header">Advanced Parameters</h6>
            <div class="card-body">
              <div class="row">
                <div class="form-group mt-2 col-6">
                  <label for="area-input">Minimal Area Intensity:</label>
                  <input type="number" class="form-control" id="area-input" formControlName="minimumArea" required>
                </div>
                <div class="form-group mt-2 col-6">
                  <label for="maxSites-input">Maximum N-linked Sites:</label>
                  <input type="number" class="form-control" id="maxSites-input" formControlName="maxSites" required>
                </div>
              </div>

            </div>
          </div>
          <div class="text-right mt-2">
            <button type="button" class="btn btn-primary" (click)="genExp()">Generate Experiment</button>
          </div>
        </div>
        <div *ngIf="queries.length > 0">
          <div *ngFor="let q of queries" class="mt-2">
            <hr>
            <h6>{{q.protein}}</h6>
            <div *ngFor="let c of q.conds" class="card mt-2">
              <h6 class="card-header">{{c}}</h6>
              <div class="card-body">
                <div *ngFor="let fn of fileNames" class="card-text">
                  <div *ngIf="q.condsMap[fn]===c">
                    <p *ngIf="q.repsMap[fn]">
                      {{fn}} (Rep: {{q.repsMap[fn]}})
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr>
          <div class="text-right">
            <button type="button" class="btn btn-success" (click)="upload()">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="container mt-4" *ngIf="result|async;let result">
  <div class="card">
    <h6 class="card-header">Result</h6>
    <div class="card-body">
      <div class="card mt-2" *ngFor="let r of result">
        <div class="card-body">
          <p>
            {{r.protein}} finished on {{finishedTime|date:'full'}}
          </p>
        </div>
        <div class="card-footer">
          <a role="button" class="btn btn-success btn-small" [href]="r.url">Download</a>
        </div>
      </div>
    </div>
  </div>
</div>
