<div class="container">
  <div class="card mt-4">
    <div class="card-body">
      <h4 class="card-title">N-glycosylation Sequon Parser</h4>
      <h6 class="card-subtitle mb-2 text-muted">A javascript based N-glycosylation sequon parser.</h6>
      <hr class="my-4">
      <form #f="ngForm" (ngSubmit)="onSubmit(f)">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon" id="label-peptide">Peptide Summary</span>
            <input type="file" class="form-control" aria-label="peptide-summary" aria-describedby="label-peptide" (change)="processFile($event)" required>
          </div>
          <small id="peptide-summary-rows" class="form-text text-muted">
            <span *ngIf="this.result">
              {{fileSize}} rows has been loaded.
            </span>
          </small>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="column-name">Sequence Column Name:</label>
            <input type="text" class="form-control" id="column-name" name="columnName" [(ngModel)]="model.columnName" #columnName="ngModel" required>
            <div [hidden]="columnName.valid" class="alert alert-danger">
              Column name is required
            </div>
          </div>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" name="ignoreMod" [(ngModel)]="model.ignoreMod">
            Ignore Modifications
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" name="annoSeq" [(ngModel)]="model.annoSeq">
            Sequence Annotated
          </label>
        </div>
        <div class="form-check col-md-6">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" name="modFilter" [(ngModel)]="model.modFilter">
            Filter Modifications
          </label>
        </div>
        <div class="form-check col-md-6">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" name="checkPosition" [(ngModel)]="model.checkPosition">
            Check Modification Position
          </label>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="modColumn">Protein Modification Column Name:</label>
            <input type="text" class="form-control" id="modColumn" name="modColumn" [(ngModel)]="model.modColumn">
          </div>
          <div class="form-group col-md-6">
            <label for="modColumn">Protein Modifications:</label>
            <input type="text" class="form-control" id="mod" name="mod" [(ngModel)]="model.mod">
            <small class="form-text text-muted">Separated by commas. * Modification filter only look for modification existence within the column and does not identify the position of the modification on the sequence.</small>
          </div>
        </div>


        <button type="submit" class="btn btn-primary">Process File</button>
      </form>
    </div>
  </div>
</div>

<div class="card result-card mt-4" [hidden]="!started">
  <div class="card-body">
    <h5 class="card-title">
      Result
    </h5>
    <div *ngIf="statusResult|async; else loading; let status">
      <div *ngIf="status===true; else loading">
        <h6 class="card-subtitle mb-2 text-success">Finished <i class="fa fa-check-circle-o" aria-hidden="true"></i></h6>
      </div>
    </div>
    <div class="result-link" *ngIf="nglyResult|async; let nglyResult">
      <ngb-tabset>
        <ngb-tab *ngFor="let link of nglyResult">
          <ng-template ngbTabTitle>{{link.jobName}} <span class="badge badge-primary">{{link.length}}</span></ng-template>
          <ng-template ngbTabContent>
            <p class="card-text text-center mt-4">
              <button class="btn btn-success btn-sm" (click)="fileDownloader(link.content, link.fileName)">
                <i class="fa fa-floppy-o" aria-hidden="true"></i> Save
              </button>
            </p>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>
  </div>
</div>

<ng-template #loading>
  <h6 class="card-subtitle mb-2 text-primary">Processing <i class="fa fa-circle-o-notch fa-spin"></i></h6>
</ng-template>
