<div class="container input-form">
  <div class="card mt-4">
    <div class="card-body">
      <h4 class="card-title">N-glycosylation Sequon Parser</h4>
      <h6 class="card-subtitle mb-2 text-muted">A javascript based N-glycosylation sequon parser.</h6>
      <hr class="my-4">
      <form #f="ngForm" (ngSubmit)="onSubmit(f)">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon" id="label-peptide">Peptide Summary</span>
            <input type="file" class="form-control" aria-label="peptide-summary" aria-describedby="label-peptide" (change)="processFile($event)" required>
          </div>
          <small id="peptide-summary-rows" class="form-text text-muted">
            <div *ngIf="this.result">
              {{fileSize}} rows has been loaded.
            </div>
          </small>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="column-name">Column Name:</label>
            <input type="text" class="form-control" id="column-name" name="columnName" [(ngModel)]="model.columnName" #columnName="ngModel" required>
            <div [hidden]="columnName.valid" class="alert alert-danger">
              Column name is required
            </div>
          </div>

        </div>

        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" name="ignoreMod" [(ngModel)]="model.ignoreMod">
            Ignore Modifications
          </label>
        </div>
        <button type="submit" class="btn btn-primary">Process File</button>
      </form>
    </div>
  </div>
</div>

<div class="card result-card mt-4" [hidden]="!started">
  <div class="card-body">
    <h5 class="card-title">
      Result
    </h5>
    <h6 class="card-subtitle mb-2 text-primary" [hidden]="!processing">Processing <i class="fa fa-circle-o-notch fa-spin"></i></h6>
    <h6 class="card-subtitle mb-2 text-success" [hidden]="!finished">Finished <i class="fa fa-check-circle-o" aria-hidden="true"></i></h6>

    <div class="result-link" [hidden]="!finished" #resultElem>
      <p class="card-text">
        <a *ngFor="let link of safeDownloadLink" [href]="link" [download]="'parsed_'+result?.fileName">Filtered Ouput</a>
      </p>
    </div>

  </div>

</div>

