<div class="jumbotron">
  <h1 class="display-3">Welcome to Research Laboratory 4</h1>
  <p class="lead">R444, MBS Building, The University of Queensland.</p>
  <hr class="my-4">
  <p>We are a proteomic research group that focus on using Mass Spectrometry for studying of glycosylation and yeast fermentation.</p>
</div>
<div class="container">
  <a href="#">
    <div class="card mt-4 text-white">
      <img class="card-img-top" src="assets/S_cerevisiae_under_DIC_microscopy.jpg" alt="Card image cap">
      <div class="card-img-overlay">
        <div class="card-body">
          <h3 class="card-title display-4">
            Yeast
          </h3>
          <p class="card-text">
            yeast-info
          </p>
        </div>
      </div>
    </div>
  </a>
<!--  <a href="#">
    <div class="card mt-4">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-img-overlay">
        <div class="card-body">
          <h3 class="card-title display-4">
            Glycosylation
          </h3>
          <p class="card-text">
            glycosylation-info
          </p>
        </div>
      </div>
    </div>
  </a>-->
</div>
